<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.HDictionryMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.HDictionry">
	<id column="id" jdbcType="INTEGER" property="id" />
	<result column="pid" jdbcType="VARCHAR" property="pid" />
	<result column="content" jdbcType="VARCHAR" property="content" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="falg" jdbcType="VARCHAR" property="falg" />
	<result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.HDictionry">
    insert into h_dictionry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="falg != null">
        falg,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="falg != null">
        #{falg,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from h_dictionry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.HDictionry">
    update h_dictionry
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="falg != null">
        falg = #{falg,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from h_dictionry
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from h_dictionry
  </select>

  <select id="findPageByPid" resultMap="BaseResultMap">
    select * from h_dictionry
    where pid = ${pid}
  </select>
</mapper>