<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.ResearchFollowMapper">

    <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.ResearchFollow">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="objid" jdbcType="VARCHAR" property="objid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="falg" jdbcType="VARCHAR" property="falg"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="remarks_one" jdbcType="VARCHAR" property="remarksOne"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <insert id="add" parameterType="com.louis.kitty.admin.model.ResearchFollow">
        insert into research_follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="objid != null">
                objid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="falg != null">
                falg,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="remarksOne != null">
                remarks_one,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="objid != null">
                #{objid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="falg != null">
                #{falg,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="remarksOne != null">
                #{remarksOne,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
    delete from research_follow
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <update id="update" parameterType="com.louis.kitty.admin.model.ResearchFollow">
        update research_follow
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="objid != null">
                objid = #{objid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                addtime = #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="falg != null">
                falg = #{falg,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="remarksOne != null">
                remarks_one = #{remarksOne,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from research_follow
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
      select * from research_follow
    </select>

    <select id="followList" resultMap="BaseResultMap" parameterType="com.louis.kitty.admin.model.ResearchFollow">
        select * from research_follow where 1=1
        <if test="objid != null">
            and objid = #{objid}
        </if>
        <if test="pid != null">
            and pid = #{pid}
        </if>
        ORDER BY sort asc
    </select>

    <select id="maxId" resultMap="BaseResultMap">
      select * from  research_follow order by id desc limit 1
    </select>

</mapper>